CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTID=${{ APP_ID }}
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__TENANTID=${{ TENANT_ID }}
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTSECRET=${{ CLIENT_SECRET }}

LOGGING__LOGLEVEL__microsoft_agents.hosting.core=INFO