# M365 Agents SDK configuration
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTID=client-id-here
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTSECRET=client-secret-here
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__TENANTID=tenant-id-here

# Azure OpenAI Configuration
AZURE_OPENAI_ENDPOINT=https://your-resource.openai.azure.com/
AZURE_OPENAI_API_KEY=your-api-key-here
AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini
AZURE_OPENAI_API_VERSION=2024-12-01-preview

# OpenWeatherMap API Key
# Get your free API key from: https://openweathermap.org/price
OPENWEATHER_API_KEY=your-openweather-api-key


# Observability
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
ENABLE_OTLP_EXPORTER=True
OTEL_EXPORTER_OTLP_INSECURE=true
 
OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_SERVER_REQUEST=".*"
OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_SERVER_RESPONSE=".*"
 
OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_CLIENT_REQUEST=".*"
OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_CLIENT_RESPONSE=".*"
# APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=your-key-here

# Required for observability SDK
ENABLE_OBSERVABILITY=true
#ENABLE_A365_OBSERVABILITY_EXPORTER=false
PYTHON_ENVIRONMENT=development
ENABLE_OPENTELEMETRY_SWITCH=true

# Observability Configuration
OBSERVABILITY_SERVICE_NAME=agent-framework-sample
OBSERVABILITY_SERVICE_NAMESPACE=agents-framework.samples

# Enable otel logs on AgentFramework SDK. Required for auto instrumentation
ENABLE_OTEL=true
ENABLE_SENSITIVE_DATA=true
